:root {
  --primary-color: #ffffff;
  --secondary-text: #899d9d;

  /* font sizes */
  --font-sm: 14px;
  --font-base: 16px;
  --font-lg: 20px;
  --font-xl: 24px;
  --font-2xl: 48px;

  /* buttons and interactive elements */
  --primary-green: #bae249;
  --active-color: #688b05;
  --hover-color: #91ac46;
  --focus-color: #83a440;
  --disabled-color: #899d9d;

  --background-color: #1d2f30;
}
