.artefacts {
  background-color: var(--background-color);
  padding-bottom: 60px;
}

.artefacts__title {
  font-size: var(--font-2xl);
  margin-bottom: 30px;
}
.artefacts__inner {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
  min-height: 500px;
}
.artefacts__collage {
  background-color: black;
}
.artefacts__info {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-green);
  padding: 16px 16px 20px;
}

.artefacts__info-title {
  color: var(--background-color);
  font-size: var(--font-xl);
  margin-bottom: 8px;
  line-height: 150%;
}

.artefacts__info-text {
  font-size: var(--font-base);
  line-height: 150%;
  color: #506829;
}
