.hero {
  background-image:
    linear-gradient(#1d2f30dd, #1d2f30dd), url(/public/images/background-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-block: 115px;
}

.hero__inner {
  width: 100%;
  max-width: 620px;
  display: flex;
  flex-direction: column;

  gap: 20px;
}
.hero__title {
  color: var(--primary-color);
  font-size: 60px;
}

.hero__text {
  color: var(--primary-color);
  font-size: var(--font-base);
  line-height: 150%;
}

@media screen and (max-width: 375px) {
  .hero {
    padding-block: 70px;
  }
  .hero__title {
    font-size: var(--font-2xl) !important;
  }

  .hero__text {
    display: none;
  }
}
